<%- include('./partials/header') %>

<div id="about-page" class="color-way white-space">This page was created by me, Tommie McBee. It is MEN-Stack app.
  I used MongoDB to handle the database, while incorporating Express.js and node.js
  to handle the different functions the app uses.
  Other notable additions were the use of Google OAuth to assist with logging in
  and passport.js to authenticate.
</div>

<img id="about-img" src="https://i.imgur.com/297zb4n.jpg?1">

<%- include('./partials/footer') %>