<%- include('./partials/header') %>

<div id="home-greeting" class="color-way">Welcome to the page! Here you have the oppurtunity to post your favorite recipes
  for others to see. You can also browse the database and see what other community members
  have posted. Leave some feedback and let 'em know what you thought!<br><br>
  So you tell me...What's cookin' good lookin'?
</div>
<div id="pot-message" class="color-way white-space">Having trouble deciding what to make? 
<a href="/recipes/stir">-->STIR THE POT<--</a>
and let us help!</div>

<%- include('./partials/footer') %>