* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 40px
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > img {
  height: 200px;
  width: 200px
}

body > footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.white-space {
  white-space: pre-wrap;
}

#show-page {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 3vmin 3vmin;
  gap: 10px;
  justify-content: start;
  align-items: start;
  margin: 0 50vmin;
}

.enbolden {
  font-weight: bold;
  font-size: 20px;
}