* {
  box-sizing: border-box;
}

body {
  background-image: url(https://i.imgur.com/a7kymfj.jpg);
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 40px;
  background-color: #FFFEE0;
  border-bottom: 5px solid #2B1700;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main > img {
  height: 200px;
  width: 200px
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEE0;
  border-top: 5px solid #2B1700;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.white-space {
  white-space: pre-wrap;
}

#show-page {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 3vmin 3vmin;
  gap: 10px;
  justify-content: start;
  align-items: start;
  margin: 20px 100px;
  padding: 15px;
  border: 5px solid #2B1700;
  background-color: #FFFEE0;
}

#review-block {
  margin: 50px 100px;
  padding: 15px;
  background-color: #FFFEE0;
  border: 2px solid #2B1700;
}

table {
  font-size: 20px;

}

table thead th {
  padding: 5px;
  border-bottom: 5px solid #2B1700;
}

table td {
  padding:  5px 10px;
  text-align: center;
}

.enbolden {
  font-weight: bold;
  font-size: 20px;
}

.section-color-pack {
  margin: 50px 100px;
  padding: 15px;
  background-color: #FFFEE0;
  border: 2px solid #2B1700;
}

#edit-review-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#edit-review-form > label {
  padding: 5px;
}

#index-display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  height: 50vmin;
  width: 500px;
  padding: 15px;
}

#new-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#new-form > label {
  padding: 20px 0 0 0;
}

#edit-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
}

#edit-recipe-form > label {
  padding: 20px 0 0 0;
}
