* {
  box-sizing: border-box;
}

body {
  background-image: url(https://i.imgur.com/a7kymfj.jpg);
  margin: 0;
  height: 100vh;
  font: 20px "Urbanist", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-color: #FFFEE0;
  border-bottom: 5px solid #2B1700;
  font-family: "Orbitron";
}

nav > a {
  padding: 10px;
  font-weight: 700;
  color: #2B1700;
}

nav >:last-child {
  margin-left: auto;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main > img {
  height: 200px;
  width: 200px
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEE0;
  border-top: 5px solid #2B1700;
}

main > a {
  color: #FFFEE0;
  background-color: #2B1700;
  padding: 10px;
  border-radius: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.white-space {
  white-space: pre-wrap;
}

#show-page {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 3vmin 3vmin;
  gap: 10px;
  justify-content: start;
  align-items: start;
  margin: 20px 100px;
  padding: 15px;
  border: 5px solid #2B1700;
  background-color: #FFFEE0;
}

#add-review-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#add-review-form > label {
  padding: 10px;
}

#add-review-form > input {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
#review-block {
  margin: 50px 100px;
  padding: 15px;
  background-color: #FFFEE0;
  border: 2px solid #2B1700;
}

#review-block * > a {
  color: #2B1700;
  font-weight: 500;
}

table {
  font-size: 20px;

}

table thead th {
  padding: 5px;
  border-bottom: 5px solid #2B1700;
}

table td {
  padding:  5px 10px;
  text-align: center;
}

.enbolden {
  font-weight: bold;
  font-size: 20px;
}

.section-color-pack {
  margin: 50px 100px;
  padding: 15px;
  background-color: #FFFEE0;
  border: 2px solid #2B1700;
}

#edit-review-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#edit-review-form > label {
  padding: 5px;
}

#index-display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  height: 50vmin;
  width: 500px;
  padding: 15px;
}

#index-display * > a {
  color: #2B1700;
  font-weight: 500;
}

#new-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#new-form > label {
  padding: 20px 0 0 0;
}

#edit-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
}

#edit-recipe-form > label {
  padding: 20px 0 0 0;
}

.color-way {
  background-color: #2B1700;
  color:#FFFEE0;
}

#home-greeting {
  height: 235px;
  width: 475px;
  margin: 25px;
  text-align: center;
  padding: 10px;
  border: 10px solid #FFFEE0;
}
#pot-message {
  width: 375px;
  height: 80x;
  margin: 25px;
  text-align: center;
}

#pot-message > a {
  color: white;
}
#pot-message > a:hover {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 750pxx) {
  #show-page {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  #show-page {
    max-width: 1000px;
  }
}